.box {
  width: 100px;
  height: 100px;
  background-color: black;
  color: white;

}

.div1 {
  width: 400px;
  height: 150px;
  background-color: gray;
  color: white;
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.div2 {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  

.div3 {
  position: absolute;
  top: 0;
  right: 0;
}